@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

  margin: 1rem;
  
  background-color: #34dffd3f;
  font-synthesis: none;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-sm lg:text-base

}

.line-height-global {
  line-height: 2;
}